* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
  background-color: rgb(249, 249, 248);
}

h1,
h3 {
  text-align: center;
  margin: 2rem;
  color: coral;
}

button {
  margin: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  font-size: medium;
}

.container {
  margin: 1rem;
  padding: 5px;
  border: 1px dotted yellowgreen;
}

p {
  margin: 10px;
  color: cornflowerblue;
  font-size: 1.5rem;
}
