* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: calc(16rem + 24px + 20px);
  margin: auto;
  margin-bottom: 2rem;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
}

h1 {
  text-align: center;
  margin: 1rem;
}

#result {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px 4px 0 0;
  font-size: 1.5rem;
}

#number-pad {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-radius: 0 0 4px 4px;
}

button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  background-color: darkslateblue;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 0 0 #aaa1a1;
}

button:hover {
  background-color: rgb(62, 53, 120);
}

button:active {
  transform: translateY(1px);
}

button.big {
  width: 8rem;
  flex-grow: 1;
}

button.action {
  background-color: crimson;
}

button.action:hover {
  background-color: rgb(198, 17, 53);
}

button.operation {
  background-color: seagreen;
}

button.operation:hover {
  background-color: rgb(39, 116, 72);
}
