* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(254, 209, 224);
  color: white;
  text-shadow: 1px 1px rgb(217, 153, 174);
}

#container {
  width: 600px;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  padding: 2rem;
  line-height: 3rem;
  border: 1px solid rgb(217, 153, 174);
  border-radius: 5px;
  background-color: palevioletred;
  box-shadow: 6px 8px rgb(217, 153, 174);
}

button {
  padding: 0.5rem;
  width: 4.5rem;
  border: none;
  color: white;
  border-radius: 0.2rem;
  background-color: rgb(72, 109, 231);
}

input {
  padding: 5px;
  background-color: rgb(254, 209, 224);
  border: none;
  border-radius: 5px;
  text-align: center;
}
