* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eee;
}

#container {
  width: 600px;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  padding: 2rem;
  line-height: 3rem;
  border: 1px solid #aeaeae;
  background-color: white;
}

button {
  padding: 0.5rem;
  width: 4.5rem;
  border: none;
  color: white;
  border-radius: 0.2rem;
  background-color: rgb(72, 109, 231);
}
